<link rel="stylesheet" href="/css/user_profile.css">


<div id="user-image">
<img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" >
</div>

<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <div id="user-form">
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>

        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit"  value="Update">
    </form>
    </div>
<%}else{%>    
    <!-- else show only the profile info -->
    <div id="user-form">
    <p style="color: white; font-size: larger; font-style: italic;">User's Profile Information</p>    
    <p style="color: black;"><%= profile_user.name %></p>
    <p style="color:black;"><%= profile_user.email %></p>
    </div>
<%} %>
